<%- include('../partials/header') %>

<h1>All Flights</h1><br>
    <%- include('../partials/nav') %>

<table id="list">
    <thead>
    <tr>
      <th></th>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No.</th>
      <th>Departure (Date)</th>
      <th>Departure (Time)</th>
      <th>Destinations</th>
    </tr>
    </thead>
    <tbody>
    <% flights.forEach(function(f) { %>
      <tr class="<%= f.isExpired ? 'expired-flight' : "" %>">
        <td><a id="detailsLink" href="/flights/<%=f._id %>">Details</a></td>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs.toDateString() %></td>
        <td><%= f.departs.toLocaleTimeString() %></td>
        <td><%= f.destinations %></td>
        
      </tr>
      <% }); %>
    </tbody>
  </table>
<%- include('../partials/footer') %>