<%- include('../partials/header') %>

<h1>Flight Details</h1><br>
    <%- include('../partials/nav') %>

    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
        <div>Destinations:</div>
        <div><% flight.destination.forEach(function(d) { %>
            <li><%= d.airport %><br>
            <!-- <li><%= d.arrival %></li> -->
            <li><%= d.arrival.toDateString() %></li>
            <li><%= d.arrival.toLocaleTimeString() %></li>
            <br><br>
              <% }) %>     
        </div>
        

        </section>

<!-- // refactor to fit destination model's two properties: arrival airport (select) and date/time (date w the same formatting added to departure info) -->
<br><br><h2>Add Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label id="formText">Destination:</label>
    <select name="airport">
        <option value="AUS">Austin</option>
        <option value="DFW">Dallas-Ft. Worth</option>
        <option value="DEN">Denver</option>
        <option value="LAX">Los Angeles</option>
        <option value="SAN">San Diego</option>
    </select>
    <label id="formText">Arrival:</label>
        <input type="datetime-local" id="datetime" name="arrival">
        
  <input type="submit" value="Add Destination">
</form>



    <%- include('../partials/footer') %>